.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white;
}
